.title {
    text-align: center;
    margin-top: 17px;
}

.math {
    width: 200px;
    min-height: 200px;
    border: 2px solid hotpink;
    border-radius: 7px;
    background-color: antiquewhite;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

.name {
    color: purple;
    text-transform: uppercase;
    font-weight: 500;
}

.delete {

    margin-top: 20px;
    margin-left: 600px;
    background-color: transparent;
    border: 2px solid hotpink;
    color: purple;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
}

.delete:hover {
    background-color: purple;
    color: white;
    border: none;
}

