/* manrope-regular - latin */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/manrope-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../fonts/manrope-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../fonts/manrope-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/manrope-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../../fonts/manrope-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/manrope-v11-latin-regular.svg#Manrope') format('svg'); /* Legacy iOS */
}

/* playfair-display-regular - latin */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/playfair-display-v28-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../../fonts/playfair-display-v28-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../fonts/playfair-display-v28-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../fonts/playfair-display-v28-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../../fonts/playfair-display-v28-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../fonts/playfair-display-v28-latin-regular.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
  }
  