@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin wrapper {
    max-width: 1440px;
    width: 100%;
}

@mixin manrope-family {
    font-family:"Mantrope", sans-serif;
}

@mixin playfair-display-family {
    font-family: "Playfair-Display", serif;
}