@use "../utils/mixins";
@use "../utils/variables";

.comments {
    background-color: variables.$light-blue;
}

.comments__wrapper {
    @include mixins.wrapper;
    margin: 0 auto;
    min-height: 655px;
}