@use "../utils/mixins";
@use "../utils/variables";

.comment {
    display: block;
    width: 600px;
    min-height: 311px;
    margin-left: 20px;

}

.comment__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40.12px;
}

.comment__text-of-the-comment {
    display: block;
    width: 600px;
    min-height: 188px ;
    background-color: white;
    font-size: 19px;
    line-height: 32.3px;
    color: variables.$very-dark-gray;
    margin: 0 auto;
    padding-top: 33px;
    padding-left: 30px;
}