@use "../utils/variables";


.commentator {
    display: flex;
    width: 600px;
    min-height: 123px;
    background-color: variables.$very-dark-gray;
}

.commentator__user-img {
    width: 75px;
    height: 75px;
    margin-top: 22px;
    margin-left: 30px;
}