@use "../utils/mixins";
@use "../utils/variables";

.header__wrapper {
    @include mixins.wrapper;
    margin: 0 auto;
}

.header__menu {
    min-height: 105px;
    background-color:white;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}