@use "../utils/mixins";
@use "../utils/variables";

.nav__logo {
    width:192px;
    height: 35px;
    margin-top: 46px;
    margin-left: 29px;

    &:hover {
        opacity: 0.3;
    }

    &:active {
        opacity: 0.7;
    }
}

.nav__list {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 10px;
}

.nav__item {
    margin-right: 48px;
    display: block;
    min-height: 59px;
    padding-top: 19px;

    &--uppercase {
        display: block;
        width: 201px;
        min-height: 59px;
        background-color: variables.$blue-green;
        padding-top: 19px;
        padding-left: 29.59px;
        margin-right: 30px;
        margin-bottom: 20px;

        &:hover {
            background-color: variables.$dark-gray;
            border: 2px solid variables.$blue-green ;
        }
    }
}

.nav__link {
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    color: variables.$dark-gray;

    &:hover {
        color: variables.$blue-green;
    }

    &--blue {
        color: variables.$blue-green;
        text-decoration: none;
    }

    &--uppercase {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }
}

