@use "../utils/mixins";
@use "../utils/variables";

.rating {
    display: block;
    width: 167.38px;
    min-height: 79px;
}

.rating-img {
    width: 81px;
    height: 17px;
    margin-top: 29px;
    margin-left: 20px;
}

.rating__user-name {
    font-size: 20px;
    font-style: normal;
    line-height: 24px;
    color: white;
    margin-top: 3px;
    margin-left: 20px;
    font-weight: 400;
    @include mixins.playfair-display-family;
}

.rating__user-location {
    font-weight: 400;
    font-size: 14px;
    color: white;
    margin-top: 7px;
    margin-left: 20px;
}

.smth {
    width: 27.64px;
    height: 55.27px;
    margin-left: 226.98px;
    margin-top: 33.73px;

    &--one-more {
        width: 27.64px;
        height: 55.27px;
        margin-left: 14.74px;
        margin-top: 33.73px;
    }
}