@use "../utils/mixins";

.uppercase-title {
    text-align: center;
    padding-top: 99.88px;
    text-transform: uppercase;
    color: #5c8692;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    font-style: normal;
    letter-spacing: 1.5px;
}

.title {
    margin-top: 4px;
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.45px;
    color: #141414;
    @include mixins.playfair-display-family;
}